.footer{
  padding: 1rem 0;
  background-color: hsl(229, 31%, 21%);

  @media only screen and (max-width: 37.5em) {
    padding: 2rem 0;
  }

  &__container{
    display: flex;
    align-items: center;
    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo{
    margin-right: 3rem;
    @media only screen and (max-width: 37.5em) {
      margin-right: 0;
      margin-bottom: 2.5rem;
    }
  }

  &__list{
    list-style: none;
    margin-right: auto;
    @media only screen and (max-width: 37.5em) {
      margin-right: 0;
    }
  }

  &__item{
    display: inline-block;
    margin-left: 2rem;
    @media only screen and (max-width: 37.5em) {
      display: block;
      margin-left: 0;
      margin-bottom: 2.5rem;

    }
  }

  &__link{
    text-transform: uppercase;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
  }

  &__social{
    list-style: none;
  }

  &__icon{
    display: inline-block;

    &:not(:last-child){
      margin-right: 1.5rem;
      @media only screen and (max-width: 37.5em) {
        margin-right: 2rem;
      }
    }
  }

  &__img{
    cursor: pointer;
  }
}