.form{
  background-color: #5368df;
  color: #fff;

  &__container{
    padding: 5rem 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;

    @media only screen and (max-width: 37.5em) {
      width: 90%;
      margin: 0 5%;
    }
  }

  &__text{
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  &__heading{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;

    @media only screen and (max-width: 37.5em) {
      width: 100%;
      margin: 0;
    }
  }

  &__sign-up{
    display: inline-block;
    width: 60%;
    padding: 1rem;

    @media only screen and (max-width: 50em) {
      width: 80%;
    }
  }

  &__input{
    height: 3.5rem;
    border-radius: 5px;
    border: 0;
    padding: 1rem;
    width: 60%;
    margin-right: 1rem;
    transition: all .2s;
    @media only screen and (max-width: 37.5em) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:focus{
      outline: none;
      box-shadow: 0 1rem 1.5rem rgba($color-black,.5);
    }
  }

  &__btn{
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 3px;
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .3);
    width: 30%;
    background-color: hsl(0, 94%, 66%);
    border: 0;
    cursor: pointer;

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
    &:focus{
      outline: none;
    }
  }

}